<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Novo Evento", "NovoEvento", "Evento")</li>
            <li>@Html.ActionLink("Agenda", "Agenda", "Agenda")</li>
            <li>@Html.ActionLink("Financeiro", "Contact", "Home")</li>
            <li>@Html.ActionLink("Sair", "Contact", "Home")</li>
        </ul>
    </div>
</div>
